@charset "UTF-8";
@font-face { font-family:  'star';
    src: url('font/PFStardust1.4.otf');
}

@font-face { font-family:  'pixel';
    src: url('font/pixelroborobo.otf');
}

/* 전체설정 */

* {
    margin: 0;
    padding: 0
}

body {font-family: 'pixel';
        width: 100%;
        height: 100%;}

p {font-family: 'star';
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    color: #fff;
    text-overflow: 40px;
    letter-spacing: 15px;
    margin-top: 10%;}

    /* 글자 깜빡이기 "클릭하여 시작하기" */
    @keyframes blink-effect { 50% { opacity: 0; } } 
    .blink { animation: blink-effect 1s step-end infinite;}

h1 {color:#E78F0C ;
    font-size: 120px;
    letter-spacing: 15px;
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
    text-align: center;
    margin-top: 5%;
    /* 커졌다 작아졌다 하는 애니메이션 */
    animation:ani 0.5s infinite alternate;  
}
@keyframes ani{
0%{transform:translate(0,0);}
100%{transform:translate(0,4px);}}

h2 {color: #2CA856;
        font-size: 100px;
        letter-spacing: 20px;
        text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
        text-align: center;
        margin-top: 2%;
        animation:ani 0.5s infinite alternate;  
    }
 @keyframes ani{
    0%{transform:translate(0,0);}
    100%{transform:translate(0,8px);}}

h3 {text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
        font-size: 60px;
        text-align: center;
        margin-top: 10%;
    
    animation:ani 0.5s infinite alternate;  
   }
@keyframes ani{
   0%{transform:translate(0,0);}
   100%{transform:translate(0,10px);}
}

a {
    text-decoration: none;
    color: #000;
}

img { position: absolute;
    vertical-align: bottom;
    border: none;
    z-index: -10;
    right: -600px;
    animation: motion 30s /* 속도 */
               linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
               /* infinite alternate; 무한 반복 */
  }
  @keyframes motion {
	0% {margin-top: 0px;
            
            right: -600px;} /* 처음 위치 */
	100% {margin-top: 20px;
                margin-right: 10000px;} /* 마지막 위치 */
}

.bird2 { position: absolute;
    vertical-align: bottom;
    border: none;
    top: 2px;
    right: -500px;
    animation: motion 20s /* 속도 */
               linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
               /* infinite alternate; 무한 반복 */
  }
  @keyframes motion {
	0% {margin-top: 0px;
            right: -1000px;} /* 처음 위치 */
	100% {margin-top: 20px;
                margin-right: 10000px;} /* 마지막 위치 */
}

ul {
    list-style: none;
};

